body {
  background-color: cornflowerblue;
}

nav ul li a {
  text-decoration: none;
  color: yellow;
  font-weight: bold;
  text-transform: uppercase;
  margin: 15px;
  font-size: 200%;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  border: 3px solid red;
}
